name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-release:
    name: Test and release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test

      - name: Coverage
        uses: codecov/codecov-action@v2

      - name: Release
        uses: cycjimmy/semantic-release-action@v2
        if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
